.drag-ready button {
  border: 2px solid black;
}

.drag-preview {
  border: 2px solid blue;
}

.drag-preview-item {
  border: 2px blue groove;
  background-color: chartreuse;
  color: rebeccapurple;
}

.drag {
  opacity: 0.5;
}

.drag-over {
  font-weight: bolder;
  color: blue;
}

.drag-over button {
  border: 2px solid blue;
  background-color: dodgerblue;
  color: black;
}